body {
    background-color: #f2f2f2;
    font-family: Arial;
}

.calculator {
    width: 300px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

button {
    width: 60px;
    height: 40px;
    margin: 5px;
    font-size: 18px;
}
